@media screen
  and (min-width: 1200px) {
    #introCarousel> .container-fluid {
        max-width: 95%;
        font-size: 16px;
    }
    #introCarousel h1 {
      margin-top: 12%;
        font-size: 14em;
    }
    #introCarousel p{
      font-size: 2em;
    }
    #introCarousel img{
      min-height: 750px;
    }

    .about-image{
      margin: 0 auto;
      height: 400px;
      background: url('../images/mountain.jpg') no-repeat center;
      background-size: cover;
      width: 100%;
    }
}
