@media only screen and (min-device-width: 768px) {
    html, body {
        font-size: 14px;
    }
    .scheduler .row-fluid {
        margin: 0 25px;
    }
    #introCarousel h1 {
      margin-top: 8%;
        font-size: 8em;
    }
    .form-control, .calendarBtn, .bookBtn, .dropdown-toggle {
        height: 25px;
        font-size: 10px;
    }
    .schedDropdown .dropdown-menu{
      font-size: 10px;
    }
    .carousel-control {
        height: 100%;
        font-size: 2em;
    }

}
