@media only screen and (orientation: portrait) {
      .about-card p{
        text-align: center;
      }
}
@media only screen and (min-width: 320px) {
    html, body {
        margin: 0;
        position: relative;
        font-size: 10px;
        font-style: normal;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        overflow-x: hidden;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Quicksand";
    }
    .btn {
        border-radius: 0px;
    }
    a {
        color: white;
    }
    a:hover {
        text-decoration: none;
        color: darkred;
    }
    .navbar {
        position: absolute;
        padding-left: 15%;
        margin-bottom: 0;
        border-radius: 0;
        position: fixed;
        width: 100%;
        color: white;
        z-index: 2;
        text-shadow: 1px 1px #492e00;
        letter-spacing: 2px;
    }
    .carousel {
        position: inherit;
    }
    #introCarousel {
        background-size: cover;
        background-position: center bottom;
        width: 100%;
        background-repeat: no-repeat;
        color: white;
        font-size: 1em;
    }
    #introCarousel img {
        width: 100%;
        min-height: 250px;
    }
    #introCarousel> .container-fluid {
        position: absolute;
        z-index: 1;
        top: 5%;
        left: 5%;
        right: 5%;
        max-width: 1175px;
    }
    #introCarousel h1 {
        font-family: "Boho Script Drop";
        font-size: 6.75em;
        margin: 10% 0 0;
        font-weight: bold;
        text-shadow: 1px 1.5px #492e00;
    }
    #introCarousel p {
        margin: -12px 0 10px;
        text-shadow: 1px 1.5px #492e00;
    }
    .scheduler {
        position: relative;
    }
    .carousel-control {
        height: 100%;
        font-size: 1em;
        width: 10%;
    }
    .carousel-control.left, .carousel-control.right {
        background: none !important;
        filter: progid: none !important;
    }
    .form-group {
        margin-bottom: 0;
    }
    .btn, .input-group-addon {
        padding: 0 6px;
    }
    .logo {
        float: left;
        left: 20em;
        top: 8em;
        position: relative;
        height: 175px;
    }
    .bg-3 {
        position: relative;
    }
    .dropdown-menu, .dropdown-toggle {
        width: 100%;
        text-align: left;
        min-width: 0;
        border-radius: 0;
    }
    .schedDropdown {
        padding: 0;
    }
    .form-control, .calendarBtn, .bookBtn, .dropdown-toggle {
        border-radius: 0px;
        height: 27px;
        font-size: 1em;
    }
    .bookBtn{
      background-color: #3296A1;
      border: none;
    }
    .roomSpan {
        float: right;
    }
    .caret {
        position: relative;
        float: right;
        top: 7px;
    }
    .wrapper h2{
      font-size: 20px;
    }
    .about-container{
      margin-top: 0;
    }
    .glyphicon-leaf {
    	color: #808000;
    }
    .well{
      margin: 3% 0 0;
      padding: 5px 20px;
      clear: both;
      width: 100%;
      height: auto;
      background-color: rgba(222, 218, 182, 0.3);
      border-radius: 0;
    }
    .about-image{
      margin: 0 auto;
      height: 150px;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      width: 100%;
    }
    h3.aboutHeader{
      letter-spacing: 3px;
      word-spacing: 3px;
      font-family: "Boho Sans";
      font-weight: bold;
      margin: 10px 20px;
      font-size: 26px;
      margin: 1% auto;
    }
    .about-card p{
      margin-top: 3px;
    }
    .about1 .about-image{
      background-image: url('../images/umbria_mobile.jpg');
      background-position: center;
    }
    .about2 .about-image{
      background-image: url('../images/waiter_mobile.jpg');
      background-position: center;
    }
    .about3 .about-image{
      background-image: url('../images/interior_mobile.jpg');
      background-position: center;
    }
    footer {
        background-color: #f2f2f2;
        padding: 10px;
    }
/*horiz line*/
    h5 {
      display: inline-block;
      padding: 0 10px;
      margin: 0;
      position: relative;
      font-size: 2em;
      color: #8B8378;
    }
    h5:before,
    h5:after {
      background: #8B8378;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 30%;
      width: 250%;
    }

    h5:before {
      right: 100%;
    }

    h5:after {
      left: 100%;
    }
}
