@media only screen and (min-device-width: 768px) {
    html, body {
        font-size: 14px;
    }
    .navbar {
        font-size: 1.7em;
        height: 20px;
    }
    .scheduler .row-fluid {
        margin: 0 auto;
        max-width: 1000px;
    }
    #introCarousel h1 {
        margin-top: 12%;
        font-size: 8em;
    }
    #introCarousel img {
        min-height: 450px;
    }
    .form-control, .bookBtn, .dropdown-toggle {
        height: 33px;
        font-size: 1em;
    }
    .schedDropdown .dropdown-menu {
        font-size: 1em;
    }
    .about-container{
      margin: 2% auto;
    }
    h3.aboutHeader{
      font-size: 30px;
    }
    .about-image{
      margin: 0 auto;
      height: 300px;
      background-size: cover;
      width: 100%;
    }
    .about1 .about-image{
      background-image: url('../images/umbria.jpg');
    }
    .about2 .about-image{
      background-image: url('../images/waiter.jpg');
    }
    .about3 .about-image{
      background-image: url('../images/interior.jpg');
    }
}
